.generalContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
}

.editorField, .previewerField {
     border: 1px solid black;
     border-radius: 5px;
}

.textArea {
    /*padding-top: 0;*/
    /*border-color: green;*/
    /*width: 393px;*/
    border: 1px solid black;
}

input:valid {
    box-shadow: none;
    outline: none;
}

input:invalid {
    box-shadow: none;
    outline: none;
}