 .markdownField {
     border: 1px solid black;
     border-radius: 5px;
     width: 400px;
 }

.header {
    /*border: solid;*/
    /*color: green;*/
    /*padding-bottom: 0;*/
    /*margin: 0;*/
    /*width: 400px;*/
}

.textArea {
    /*padding-top: 0;*/
    /*border-color: green;*/
    width: 400px;

}